* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background-color: #282c34;
  color: rgb(219, 218, 218);
}

/* Header/Blog Title */
header, .header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

p {
  margin-left: 20%;
  margin-right: 20%;
}